
<div class="post-meta">
  <span class="post-author-img">
    <img src="https://github.com/{{ include.param.github }}.png" alt="{{ include.param.github }}">
  </span>
  <span class="post-author-name">
    <a href="https://github.com/{{ include.param.github }}">{{ include.param.author }}</a>,
  </span>
  <span class="post-date">{{ include.param.date | date: "%-d %b %Y" }} — </span>
  <span class="post-category">
  {% for category in include.param.categories %}
    <span class="post-label"><a href="{{ "/blog/categories/" | prepend: site.baseurl }}#{{ category }}">{{ category }}</a></span>
  {% endfor %}
  </span>
</div>
