
{% assign current_page = page.url | remove:'index.html' %}

{% if page.toc %}
  {% assign toc = site.data[page.toc] %}
{% else %}
  {% assign toc = site.data.toc %}
{% endif %}

<div id="toc-mobile-expand" class="toc">
  <a href="javascript:toggleDisplay('toc');window.location.href='#toc';">Contents <span class="toc-mobile-expand-arrow">▾</span></a>
</div>

<div id="toc" class="toc">

{% for section in toc %}
  <h1><a href="{{ site.baseurl }}{{ section.heading.link }}" {% if current_page == section.heading.link %}class="active"{% endif %}>{{ section.heading.text }}</a></h1>
  <ul>
    {% for page in section.pages %}
      <li><a href="{{ site.baseurl }}{{ page.link }}" {% if current_page == page.link %}class="active"{% endif %}>{{ page.text }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
{{ page.id }}

</div>
